.about-us {
  width: 100%;
  background: url("../images/01101.svg") center bottom/200% 30% no-repeat;
  //временно
  height: auto;
  //margin-top: 220px;
  position: relative;
  z-index: 20;
  padding-top: 130px;
  padding-bottom: 100px;
  margin-bottom: 130px;

  //&-left {
  //  width: 515px;
  //  height: 465px;
  //  //box-shadow: 1px 1px 3px #333333;
  //  background-color: transparent;
  //  background-image: linear-gradient(rgba(229, 58, 36, 0.32) 1.5px, transparent 1.5px),
  //  linear-gradient(90deg, rgba(229, 58, 36, 0.32) 1.5px, transparent 1.5px);
  //  background-size: 38px 38px,
  //  38px 38px;
  //  background-position: -14px -14px,
  //  1px 1px;
  //}

  &__container {
    display: flex;
  }

  &-left {
    width: 494px; /* 38px * 13 */
    height: 494px; /* 38px * 13 */
    display: grid;
    grid-template-rows: repeat(13, 38px);
    grid-template-columns: repeat(13, 38px);
    background: linear-gradient(90deg, rgba(229, 58, 36, 0.35) 1px, transparent 1px), /* вертикальные линии */
    linear-gradient(rgba(229, 58, 36, 0.35) 1px, transparent 1px); /* горизонтальные линии */
    background-size: 38px 38px; /* размер ячеек сетки */
    transform: translateZ(0); /* для точного рендеринга */
    background-position: 2px -21px;
    border: none;
    //padding: 67px 55px 100px 35px;
    padding: 0;

    &__text {
      //width: 100%;
      margin: 0;
      padding: 0;
      max-width: 416px;
      padding-left: 41px;
      padding-top: 65px;
      padding-right: 22px;
      grid-column: 1 / 13;
      grid-row: 1 / 13;

      p {
        margin: 0;
        padding: 0;
        font-family: 'JetBrainsMono-ExtraLight', sans-serif;
        font-weight: 200;
        font-size: 17px;
        color: #fff;

        @media (max-width: 1284px) {
          font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
        }
      }
    }
  }

  &-right {
    //для мобилки display:content
    display: flex;
    flex-direction: column;
    //border: 1px solid greenyellow;
    max-width: 507px;
    width: 100%;
    padding-top: 53px;
    margin-left: auto;

    &__title {
      font-family: 'AKONY', sans-serif;
      font-weight: 700;
      font-size: clamp(2.125rem, 1.7354rem + 1.7316vw, 3.125rem);
      text-transform: lowercase;
      color: var(--text-color);
      margin-bottom: 178px;

      .accent {
        color: var(--color-3);
      }
    }

    &__text {
      font-family: 'JetBrainsMono-ExtraLight', sans-serif;
      font-weight: 200;
      font-size: 17px;
      color: #fff;
      margin-bottom: 300px;

      @media (max-width: 1284px) {
        font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
      }
    }
  }
}

@keyframes moveRunner {
  0% {
    opacity: 1;
    transform: translateY(304px);
  }
  3% {
    opacity: 1;
    transform: translateY(304px);
  }
  48% {
    opacity: 1;
    transform: translateY(494px);
  }
  53% {
    opacity: 1;
    transform: translateY(494px);
  }
  97% {
    opacity: 1;
    transform: translateY(304px);
  }
  100% {
    opacity: 1;
    transform: translateY(304px);
  }
}

//@keyframes moveRunner {
//  0% {
//    opacity: 1;
//    transform: translateY(304px);
//  }
//  80% {
//    opacity: 1;
//    transform: translateY(494px);
//  }
//  100% {
//    opacity: 1;
//    transform: translateY(494px);
//  }
//}

.runner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px; /* Высота одной ячейки */
  background: var(--color-1); /* Цвет полоски */
  transform: translateY(-100%); /* Начальное положение */
  animation: moveRunner 6s linear infinite;
  transform: translateZ(0);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 5px;
    background-color: var(--color-1);
  }

}
