.cards {
  position: relative;
  width: 100%;
  padding: 100px 0 350px;
  z-index: 50;
  height: 100%;
  background-color: var(--page-bg);
  scroll-behavior: smooth;

  @media (max-width: 1020px) {
    padding: 100px 0 100px;
  }

  &__container {
    max-width: 1253px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    min-height: 850vh;
    position: relative;

    @media (max-width: 1020px) {
      padding-left: 0;
      padding-right: 0;
      min-height: auto;
    }
  }

  .card-item {
    max-width: 1223px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    justify-content: space-between;
    row-gap: 20px;

    @media (max-width: 768px) {
      row-gap: 45px;
    }

    &__top {
      display: flex;
      width: 100%;

      @media (max-width: 1020px) {
        display: grid;
        grid-template-columns: 282px 1fr;
        grid-template-areas: 'card-video-box card-tetx-box'
      'card-require-box card-require-box';
        gap: 20px;
        padding-top: 0;
        background: url("../images/setka_mob.svg") top center no-repeat;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &-images-box {
        //clip-path: url(#card-img-clip);
        clip-path: polygon(100% 5%, 100% 100%, 92% 100%, 92% 97%, 85% 97%, 85% 100%, 5% 100%, 0 95%, 0 0, 95% 0);
        width: 290px;
        height: 380px;
        padding: 6px 6px 8px 6px;
        margin-right: 42px;

        @media (max-width: 1110px) {
          margin-right: 20px;
        }

        @media (max-width: 1020px) {
          grid-area: card-video-box;
          margin-right: 0;
        }

        @media (max-width: 767px) {
          width: 330px;
          height: 429px;
          margin-bottom: 40px;
          //clip-path: url(#card-img-clip-mob);
        }

        &-video {
          //clip-path: url(#card-gif-clip);
          clip-path: polygon(100% 5%, 100% 100%, 5% 100%, 0 95%, 0 0, 95% 0);
          width: 270px;
          height: 330px;
          margin-bottom: 5px;

          @media (max-width: 767px) {
            width: 317px;
            height: 384px;
            //clip-path: url(#card-gif-clip-mob);
          }
        }

        &-title {
          font-family: 'JetBrainsMono-Bold', sans-serif;
          font-weight: 700;
          font-size: 12px;
          text-transform: lowercase;
          color: var(--color-2);
          padding-left: 19px;

          &_black {
            color: var(--color-4);
          }

          @media (max-width: 1284px) {
            font-size: clamp(0.75rem, 0.7256rem + 0.1082vw, 0.8125rem);
          }
        }

        .video-lvl {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-description-box {
        padding-top: 35px;
        max-width: 440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: auto;

        @media (max-width: 1210px) {
          margin-right: 10px;
        }

        @media (max-width: 1020px) {
          max-width: 100%;
          grid-area: card-tetx-box;
          margin-right: 0;
          padding-top: 100px;
        }

        @media (max-width: 900px) {
          max-width: 87%;
        }

        @media (max-width: 767px) {
          padding-top: 0;
          width: 100%;
          padding-left: 15px;
          padding-right: 15px;
        }

        &-subtitle {
          font-family: 'JetBrainsMono-Bold', sans-serif;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.57143;
          color: var(--text-color);
          opacity: 0.8;
          margin-bottom: 10px;
        }

        &-title {
          font-family: 'AKONY', sans-serif;
          font-weight: 700;
          font-size: 25px;
          text-transform: lowercase;
          margin-bottom: 10px;

          @media (max-width: 1284px) {
            font-size: clamp(1.25rem, 1.1282rem + 0.5411vw, 1.5625rem);
          }

          &_lvl1 {
            color: #f6f517;
          }

          &_lvl3 {
            color: rgba(77, 226, 242, 1);
          }

          &_lvl4 {
            color: rgba(175, 220, 155, 1);
          }
        }

        &-text {
          font-family: 'JetBrainsMono-Light', sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.25;
          color: var(--text-color);
          margin-bottom: 20px;
        }

        &-duration-wrapper {
          display: flex;
          align-items: center;

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            margin-bottom: 25px;
          }

          .s-b {
            display: flex;
            align-items: center;
          }

          .progress-span {
            width: 3px;
            height: 10px;
            margin: 0 1.5px;
            background: rgba(217, 217, 217, 0.1);

            &__lvl1 {
              background: #f6f517;
            }

            &__lvl3 {
              background: rgba(77, 226, 242, 1);
            }
          }

          .duration-text {
            margin-left: 10px;
            font-family: 'JetBrainsMono-Regular', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.28571;
            text-transform: lowercase;
            color: var(--text-color);

            @media (max-width: 768px) {
              margin-left: 0;
            }

            .duration-data {
              font-family: 'JetBrainsMono-Regular', sans-serif;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.28571;
              text-transform: lowercase;
              color: var(--text-color);
            }
          }
        }
      }

      &-requirements-box {
        padding-top: 102px;
        margin-right: 48px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 355px;
        width: 100%;
        align-items: center;

        @media (max-width: 1020px) {
          max-width: 100%;
          grid-area: card-require-box;
          margin-right: 0;
          padding-top: 0;
          flex-direction: row;
          column-gap: 20px;
          padding-left: 10px;
          padding-right: 10px;
        }

        @media (max-width: 767px) {
          flex-direction: column;
        }

        &-item {
          width: 100%;
          min-height: 110px;
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 3px;
          position: relative;

          svg {
            width: 100%;
            height: 100%;
            position: absolute;
            pointer-events: none;
          }

          @media (max-width: 1020px) {
            max-width: 500px;
          }

          @media (max-width: 767px) {
            max-width: 100%;
          }

          &-title {
            padding: 8px 15px 0;
            width: 100%;
            font-family: 'JetBrainsMono-Medium', sans-serif;
            font-weight: 500;
            font-size: 14px;
            text-transform: lowercase;
            color: var(--text-color);
            opacity: 0.8;

            &_lvl1 {
              color: #f6f517;
            }

            &_lvl3 {
              color: rgba(77, 226, 242, 1);
            }

            &_lvl4 {
              color: rgba(175, 220, 155, 1);
            }
          }

          &-desc {
            padding: 0px 15px 8px;
            width: 100%;
            font-family: 'JetBrainsMono-Light', sans-serif;
            font-weight: 300;
            font-size: 12px;
            line-height: 1.33333;
            text-transform: lowercase;
            color: var(--text-color);
          }
        }

        &-item_lvl3 {
          width: 100%;
          min-height: 110px;
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 3px;
        }

        &-item_lvl4 {
          width: 100%;
          height: 110px;
          position: relative;
          display: flex;
          flex-direction: column;
          row-gap: 3px;
        }
      }
    }

    &__down-shadow {
      filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.65));
      width: 100%;
    }

    &__down {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 23px;
      padding-top: 21px;
      padding-bottom: 50px;
      background: url("../images/down_bg_mask.svg") no-repeat center right/cover;

      @media (max-width: 1020px) {
        background: rgba(14, 14, 14, 1);
      }

      @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
        row-gap: 45px;
        padding-bottom: 140px;
      }

      &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 36px;
        padding-right: 10px;

        @media (max-width: 767px) {
          display: contents;
        }

        &-title {
          font-family: 'AKONY', sans-serif;
          font-weight: 700;
          font-size: 20px;
          text-transform: lowercase;
          color: var(--text-color);

          @media (max-width: 1284px) {
            font-size: clamp(1rem, 0.9026rem + 0.4329vw, 1.25rem);
          }

          @media (max-width: 767px) {
            order: 1;
          }
        }

        &-btn {
          max-width: 235px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-weight: 700;
          font-size: 16px;
          text-transform: capitalize;
          color: var(--color-4);

          @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
            order: 3;
          }

          &:hover {
            background-color: var(--color-2);
          }

          &_lvl1 {
            background-color: #f6f517;
          }

          &_lvl2 {
            background-color: #D33CFF;
          }

          &_lvl3 {
            background-color: #4de2f2;
          }

          &_lvl4 {
            background-color: #afdc9b;
          }
        }
      }

      &-body {
        width: 100%;
        padding: 0 36px;

        @media (max-width: 767px) {
          order: 2;
          padding: 0;
        }

        &-list {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-template-areas: 'm01 m03 m05 m07'
        'm02 m04 m06 m08';
          column-gap: 30px;
          row-gap: 20px;

          @media (max-width: 767px) {
            row-gap: 40px;
          }

          @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 'm01 m02'
            'm03 m04'
            'm05 m06'
        'm07 m08';
          }

          @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
        }

        &-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 7px;

          @media (max-width: 600px) {
            align-items: flex-start;
          }

          &-top {
            align-items: center;
            display: grid;
            grid-template-columns: 20px auto 1fr;
            grid-template-areas: 'hint-box title-mod progress-box-mod';
            column-gap: 10px;
            row-gap: 7px;
            position: relative;

            &-hint-box {
              grid-area: hint-box;
              width: 20px;
              height: 20px;
              background: transparent;
              border: none;
              outline: none;
              cursor: pointer;

              svg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            &-title {
              grid-area: title-mod;
              font-family: 'JetBrainsMono-ExtraBold', sans-serif;
              font-weight: 800;
              font-size: 14px;
              text-transform: lowercase;
              color: var(--text-color);
            }

            &-progress-box {
              grid-area: progress-box-mod;
              display: flex;
              align-items: center;

              .progress-span {
                width: 3px;
                height: 10px;
                margin: 0 1.5px;
                background: rgba(217, 217, 217, 0.1);

                &__lvl1 {
                  background: #f6f517;
                }

                &__lvl3 {
                  background: #4de2f2;
                }

                &__lvl4 {
                  background: #afdc9b;
                }
              }
            }
          }

          &-down {
            font-family: 'JetBrainsMono-Regular', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.28571;
            text-transform: lowercase;
            color: rgba(255, 255, 255, 0.7);

          }
        }
      }
    }
  }

  .c01 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/card_bg_01_full.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    clip-path: polygon(66.5% 8.5%, 95% 8.5%, 100% 19%, 100% 100%, 0% 100%, 0 0, 60% 0);

    @media (max-width: 1020px) {
      clip-path: none;
      background: radial-gradient(189.89% 65.73% at -53.53% 2.38%, #2D24B8 0%, #080808 100%);
    }

    .card-item__top-images-box {
      background-color: #493ca5;
    }
  }

  .c02 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/card_bg_02_full.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    clip-path: polygon(66.5% 8.5%, 95% 8.5%, 100% 19%, 100% 100%, 0% 100%, 0 0, 60% 0);

    @media (max-width: 1020px) {
      clip-path: none;
      background: radial-gradient(189.89% 65.73% at -53.53% 2.38%, rgba(215, 115, 244, 0.3) 0%, #080808 100%);
    }

    .card-item__top-images-box {
      background-color: rgba(161, 32, 199, 1);
    }
  }

  .c03 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/card_bg_03_full.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    clip-path: polygon(66.5% 8.5%, 95% 8.5%, 100% 19%, 100% 100%, 0% 100%, 0 0, 60% 0);

    @media (max-width: 1020px) {
      clip-path: none;
      background: radial-gradient(189.89% 65.73% at -53.53% 2.38%, rgba(34, 59, 216, 0.3) 0%, #080808 100%);
    }

    .card-item__top-images-box {
      background-color: rgba(33, 47, 159, 1);
    }
  }

  .c04 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/card_bg_04_full.png');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    clip-path: polygon(66.5% 8.5%, 95% 8.5%, 100% 19%, 100% 100%, 0% 100%, 0 0, 60% 0);

    @media (max-width: 1020px) {
      clip-path: none;
      background: radial-gradient(189.89% 65.73% at -53.53% 2.38%, rgba(89, 203, 179, 0.3) 0%, #080808 100%);
    }

    .card-item__down {
      @media (max-width: 768px) {
        padding-bottom: 50px;
      }
    }

    .card-item__top-images-box {
      background-color: rgba(89, 203, 179, 1);
    }
  }
}

.card-item01 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100vh;
  position: sticky;
  top: 20px;
  left: 0;
  filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.65));

  @media (max-width: 1020px) {
    position: relative;
    margin-bottom: 0;
    height: auto;
    top: 0;
  }
}

.card-item02 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100vh;
  position: sticky;
  top: 20px;
  left: 0;
  filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.65));

  @media (max-width: 1020px) {
    position: relative;
    margin-bottom: 0;
    height: auto;
    top: 0;
  }
}

.card-item03 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100vh;
  position: sticky;
  top: 20px;
  left: 0;
  filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.65));

  @media (max-width: 1020px) {
    position: relative;
    margin-bottom: 0;
    height: auto;
    top: 0;
  }
}

.card-item04 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100vh;
  position: sticky;
  top: 20px;
  left: 0;
  filter: drop-shadow(0 0px 20px rgba(0, 0, 0, 0.65));

  @media (max-width: 1020px) {
    position: relative;
    margin-bottom: 0;
    height: auto;
    top: 0;
  }
}

.m01 {
  grid-area: m01;
}

.m02 {
  grid-area: m02;
}

.m03 {
  grid-area: m03;
}

.m04 {
  grid-area: m04;
}

.m05 {
  grid-area: m05;
}

.m06 {
  grid-area: m06;
}

.m07 {
  grid-area: m07;
}

.m08 {
  grid-area: m08;
}

