// Стили для контейнера табов
.tabs-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1224px;
  width: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  z-index: 100;

  @media (max-width: 1230px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 1023px) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Стили для кнопок табов
.tab-buttons {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  width: 100%;

  gap: 5px;
  margin-bottom: 10px;
}

.tab-btn {
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
  font-family: 'JetBrainsMono-Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--color-1);
  text-shadow: 0 0 8px 0 #fa1b1b;
  opacity: 0.8;
  cursor: pointer;

  @media (max-width: 1284px) {
    font-size: clamp(0.9375rem, 0.8157rem + 0.5411vw, 1.25rem);
  }

  &:hover {
    color: var(--color-3);
    text-shadow: 0 0 5px 0 var(--color-3);
    opacity: 0.8;
  }

  &-active {
    color: var(--color-3);
    text-shadow: 0 0 5px 0 var(--color-3);
    opacity: 0.8;
  }
}

// Стили для контента табов
.tab-content {
  max-width: 1224px;
  width: 100%;
  display: none;
  //padding: 20px;
  //border: 2px solid #2196F3;
  border-radius: 0 5px 5px 5px;

  &-active {
    display: block;
    animation: fade 0.5s ease;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cases {
  width: 100%;
  position: sticky;
  z-index: 50;
  height: 100vh;
  background-color: var(--page-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    height: 100%;
    position: relative;
    padding-bottom: 40px;
  }

  &__logo {
    max-width: 218px;
    height: 32px;
    top: -5px;
    right: 232px;
    position: absolute;
    z-index: 110;
    background-color: #101010;

    @media (max-width: 1260px) {
      right: auto;
      left: 424px;
    }

    @media (max-width: 767px) {
      max-width: 261px;
      top: 0;
      width: 100%;
      height: 38px;
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 100%;
      height: 100%;

      @media (max-width: 767px) {
        padding: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

.col {
  height: 400px;
  width: 174px;
  background: url("../images/colonka_sl.png") no-repeat center/cover;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: none;
}

.cases-slider-btns-box {
  max-width: 350px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 767px) {
    bottom: auto;
    top: 155px;
    z-index: 30;
  }


  .cases-slider-btn-next, .cases-slider-btn-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--color-3);
    margin-top: 0;


    svg {
      width: 13px;
      height: 21px;
    }
  }

  .cases-slider-btn-next {
    right: 0 !important;
    top: 0;
  }

  .cases-slider-btn-prev {
    left: 0 !important;
    top: 0;
  }
}