.hero {
  position: relative;
  width: 100%;

  &__container {
    max-width: 1284px;
    padding-left: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -200px;
      left: -350px;
      width: 600px;
      height: 600px;
      z-index: 5;
      background: url("../images/orange.png") no-repeat bottom left/cover;
    }
  }

  &__header {
    display: flex;
  }

  &__header-img-box {
    max-width: 592px;
    width: 100%;
    height: 685px;
    position: relative;
    left: -75px;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__header-text-box {
    margin-top: 110px;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    &-title {
      font-family: 'AKONY', sans-serif;
      font-weight: 700;
      font-size: clamp(1.4375rem, 0.7708rem + 2.963vw, 3.4375rem);
      line-height: 1.11226;
      text-transform: lowercase;
      color: #fff;
      transition: 0.3s ease-in-out;
      margin-bottom: 70px;

      .gradient-text {
        font-size: clamp(1.4375rem, 0.7708rem + 2.963vw, 3.4375rem);
        font-weight: 700;
        background: linear-gradient(90deg, #1fb6ea 59.95%, #e53a24 80.68%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        transition: 0.3s ease-in-out;

        .gradient-text {
          background: linear-gradient(270deg, #1fb6ea 59.95%, #e53a24 80.68%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.3s ease-in-out;
        }
      }
    }

    &-description {
      font-family: "JetBrainsMono-Regular", sans-serif;
      font-weight: 400;
      font-size: clamp(1rem, 0.9375rem + 0.2778vw, 1.1875rem);
      color: #fff;
      max-width: 520px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
  }

  &__container_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;




  }

  &__body {
    width: 100%;
    height: 412px;
    display: flex;
    background-color: #040404;
    z-index: 10;
    position: absolute;
    top: 100%;
    transform: translateY(-47%);
    align-items: center;
    justify-content: space-between;
    mask-image: url('../images/mask2.svg');
    mask-size: cover;
    mask-position: center top;
    mask-repeat: no-repeat;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      top: 35px;
      left: 34%;
      transform: translateX(-50%);
      width: 10px;
      height: 140px;
      z-index: 10;
      background: url("../images/line_circle1.svg") center/contain no-repeat;
    }

    &::after {
      position: absolute;
      content: "";
      top: 6.5%;
      left: 36%;
      transform: translateX(-50%);
      width: 10px;
      height: 160px;
      z-index: 10;
      background: url("../images/line_circle2.svg") center/contain no-repeat;
    }

    &-left {
      display: flex;
      max-width: 412px;
      width: 100%;
      flex-direction: column;
      row-gap: 25px;
      padding: 0;
      margin: 0;
      position: relative;


      &-title {
        padding: 0;
        margin: 0;
        font-family: "JetBrainsMono-ExtraBold", sans-serif;
        font-weight: 800;
        font-size: 171px;
        line-height: 0.77;
        text-transform: lowercase;
        color: var(--color-1);
      }

      &-subtitle {
        max-width: 362px;
        font-weight: 400;
        font-size: 19px;
        color: #fff;
      }
    }

    &-right {
      padding: 110px 43px 28px;
      margin: 0;
      display: flex;
      max-width: 580px;
      width: 100%;
      height: 290px;
      align-items: flex-end;
      background-color: #111;
      mask-image: url('../images/kartoteka.svg');
      mask-size: cover;
      mask-position: center top;
      mask-repeat: no-repeat;
      position: relative;
      //background: url("../images/kartoteka.png") no-repeat;
      //background-size: cover;

      &::after {
        position: absolute;
        content: "";
        top: 15px;
        right: 15px;
        width: 536px;
        height: 261px;
        background: url('../images/kartoteka_line.svg') center center/cover no-repeat;
        z-index: 77;
        pointer-events: none;
      }

      &-number {
        font-family: 'JetBrainsMono-Bold', sans-serif;
        font-weight: 700;
        font-size: 175px;
        line-height: 0.8;
        text-transform: lowercase;
        color: var(--color-3);
      }

      &-text {
        font-weight: 400;
        font-size: 19px;
        color: var(--text-color);
      }

    }
  }
}

.circle {
  width: 600px;
  height: auto;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  top: 47%;
  pointer-events: none;
}
