
.jump-page {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--page-bg);
  position: sticky;
  top: 0;
  left: 0;

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 20px;

    &-title {
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: 'AKONY', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 1;
      text-transform: lowercase;
      color: var(--text-color);

      @media (max-width: 1284px) {
        font-size: clamp(1.8125rem, 1.3011rem + 2.2727vw, 3.125rem);
      }
    }

    &-subtitle {
      color: var(--text-color);
      font-family: 'JetBrainsMono-Regular', sans-serif;
      font-weight: 400;
      font-size: 24px;
      text-transform: lowercase;
      text-align: center;

      @media (max-width: 1284px) {
        font-size: clamp(1.1875rem, 1.0657rem + 0.5411vw, 1.5rem);
      }
    }

    &-link {
      width: 50px;
      height: 150px;
      -webkit-mask-image: url('../images/arr_mask.png');
      mask-image: url('../images/arr_mask.png');
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: 49.1% 0;
      mask-position: 49.1% 0;
      background: -webkit-gradient(
                      linear,
                      left bottom, left top,
                      from(#e53a24),
                      color-stop(25%, #1fb6ea),
                      color-stop(50%, #e53a24),
                      color-stop(75%, #1fb6ea),
                      to(#e53a24)
      );
      background: -o-linear-gradient(
                      bottom,
                      #e53a24,
                      #1fb6ea 25%,
                      #e53a24 50%,
                      #1fb6ea 75%,
                      #e53a24
      );
      background: linear-gradient(
                      360deg,
                      #e53a24,
                      #1fb6ea 25%,
                      #e53a24 50%,
                      #1fb6ea 75%,
                      #e53a24
      );
      background-size: 100% 400%;
      -webkit-animation: gradientFlow 8s linear infinite;
      animation: gradientFlow 8s linear infinite;
    }
  }
}

@-webkit-keyframes gradientFlow {
  0% {
    background-position: 0% 400%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 400%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.jump-page-two {
  z-index: 40;

  &__text-title {
    font-size: 50px;

    @media (max-width: 1284px) {
      font-size: clamp(1.8125rem, 1.3011rem + 2.2727vw, 3.125rem);
    }
  }
}

.jump-page-three {
  margin-top: -148vh;
  z-index: 50;

  @media (max-width: 999px) {
    margin-top: 0;
  }
}

.jump-page-four {
  z-index: 51;
  //margin-top: -5vh;

  @media (max-width: 999px) {
    //margin-top: 5vh;
  }
}

.jump-page {
  height: 100vh;

  @media (max-width: 768px) {
    max-height: 600px;
  }
}