.jump-page {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    &-title {
      padding: 0;
      margin: 0;
      text-align: center;
      font-family: 'AKONY', sans-serif;
      font-weight: 700;
      font-size: 50px;
      line-height: 1;
      text-transform: lowercase;
      color: var(--text-color);

      @media (max-width: 1284px) {
        font-size: clamp(1.875rem, 1.388rem + 2.1645vw, 3.125rem);
      }
    }

    &-subtitle {
      color: var(--text-color);
      font-family: 'JetBrainsMono-Regular', sans-serif;
      font-weight: 400;
      font-size: 24px;
      text-transform: lowercase;
      text-align: center;

      @media (max-width: 1284px) {
        font-size: clamp(1.1875rem, 1.0657rem + 0.5411vw, 1.5rem);
      }
    }

    &-link {
      //background: linear-gradient(to bottom, #1fb6ea, #e53a24);
      //animation: gradientAnimation 5s infinite ease-in-out;
      background: linear-gradient(0deg, #641e39, #98749b, #ddf810, #8f4ff4);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
      width: 50px;
      height: 150px;
      mask-image: url("../images/arr_mask.png");
      mask-repeat: no-repeat;
      mask-position: 49.1% 0;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

//@keyframes gradientAnimation {
//  0% {
//    background: linear-gradient(to bottom, #1fb6ea, #e53a24);
//  }
//  25% {
//    background: linear-gradient(to bottom, #e53a24, #1fb6ea);
//  }
//  50% {
//    background: linear-gradient(to bottom, #1fb6ea, #e53a24);
//  }
//  75% {
//    background: linear-gradient(to bottom, #e53a24, #1fb6ea);
//  }
//  100% {
//    background: linear-gradient(to bottom, #1fb6ea, #e53a24);
//  }
//}

///* Общие стили для анимации */
//.animate-path {
//  animation: colorWave 2s infinite linear; /* Бесконечная анимация */
//}
//
///* Ключевые кадры */
//@keyframes colorWave {
//  0%, 100% {
//    fill: #FEFEFE; /* Начальный и конечный цвет (белый) */
//    opacity: 1; /* Полная видимость в конце */
//  }
//  50% {
//    fill: #FF0000; /* Промежуточный цвет (красный) */
//  }
//}
//
///* Задержки для каждого пути */
//.animate-path-1 {
//  animation-delay: 0s; /* Первый путь без задержки */
//}
//
//.animate-path-2 {
//  animation-delay: 0.66s; /* Второй путь с задержкой */
//}
//
//.animate-path-3 {
//  animation-delay: 1.33s; /* Третий путь с задержкой */
//}