.menu-mobile-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -100%;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 27px 60px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  row-gap: 40px;
  background-color: #111111;
  z-index: 555;
  top: 0;

  &__nav {
    padding-top: 20px;
    width: 100%;
  }

  &__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &__link {
    font-size: 20px;
    position: relative;
    color: var(--color-3);
  }

  &__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;

    &-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
    }

    &-link {
      width: 40px;
      height: 40px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      color: var(--text-color);
    }
  }

  &__button {
    width: 100%;

    &-btn {
      max-width: 303px;
      height: 63px;
      line-height: 63px;
      width: 100%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: var(--color-3);
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #2b2a29;
      -webkit-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
    }
  }

  &-visible {
    left: 0;
  }
}

.list.menu-mobile-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 40px;
}

.menu-mobile-box.menu-mobile-box-visible .link.menu-mobile-box__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  right: 0;
  background-color: var(--color-3);
}