.modal-hint {
  max-width: 503px;
  //width: 100%;
  min-height: 260px;
  overflow-y: auto;
  //clip-path: url('#modal-mask');
  -webkit-clip-path: polygon(100% 5%, 98.5% 5%, 98.5% 10%, 100% 10%, 100% 95%, 97% 100%, 0 100%, 0 5%, 3% 0, 100% 0);
  clip-path: polygon(100% 5%, 98.5% 5%, 98.5% 10%, 100% 10%, 100% 95%, 97% 100%, 0 100%, 0 5%, 3% 0, 100% 0);
  position: fixed;
  top: 0;
  left: 0;
  padding: 34px 31px;
  margin: 5px;
  background-color: var(--color-2);
  z-index: 999;
  border: none;

  &-title {
    width: 100%;
    font-family: 'AKONY', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: lowercase;
    color: var(--color-4);
    margin-bottom: 15px;
  }

  &-desc {
    font-family: 'JetBrainsMono-Light', sans-serif;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-4);
  }

  &-close {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 27px;
    right: 27px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}