.redactor-coda {
  width: 100%;
  background-color: var(--page-bg);
  position: sticky;
  z-index: 40;
  top: 20px;
  left: 0;
  padding: 30px 0;

  &__container {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    max-width: 1284px;

    @media (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &-bg {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 310px;
    grid-template-areas:
   'exercise exercise'
  'exercise-desc exercise-desc'
   'window-box images-box'
  'window-box images-box';
    gap: 20px 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 60px 84px 60px;
    background: url("../images/redactor_bg.svg") no-repeat top right/cover;

    @media (max-width: 1024px) {
      background: transparent;
      padding: 0;
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__exercise {
    grid-area: exercise;
    padding: 0;
    margin: 0;
    font-family: 'JetBrainsMono-Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);

    @media (max-width: 1284px) {
      font-size: clamp(1.0625rem, 0.9894rem + 0.3247vw, 1.25rem);
    }

    @media (max-width: 1024px) {
      font-family: JetBrainsMono-ExtraLight, sans-serif;
      font-weight: 200;
      order: 2;
    }
  }

  &__exercise-desc {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    grid-area: exercise-desc;
    padding: 10px 20px 10px;
    margin: 0;
    font-family: 'JetBrainsMono-ExtraLight', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(140px);
    background: rgba(208, 208, 208, 0.2);

    @media (max-width: 1284px) {
      font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
    }

    @media (max-width: 1024px) {
      order: 3;
    }

    @media (max-width: 424px) {
      margin-top: -10px;
      height: 250px;
    }
  }

  &__images-box {
    grid-area: images-box;
    width: 310px;
    height: 300px;

    @media (max-width: 1024px) {
      margin-right: auto;
      margin-left: auto;
      order: 1;
    }

    @media (max-width: 1024px) {
      width: 330px;
      height: 262px;
    }
  }

  //&__clue {
  //  display: flex;
  //  align-items: center;
  //  margin: 0;
  //  padding: 10px 20px;
  //  grid-area: clue;
  //  font-family: 'JetBrainsMono-ExtraLight', sans-serif;
  //  font-weight: 200;
  //  font-size: 17px;
  //  color: var(--text-color);
  //  backdrop-filter: blur(140px);
  //  background: rgba(208, 208, 208, 0.2);
  //  height: auto;
  //
  //  @media (max-width: 1284px) {
  //    font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  //  }
  //
  //  @media (max-width: 1024px) {
  //    order: 4;
  //  }
  //
  //  &-elem {
  //    display: inline-flex;
  //    align-items: center;
  //    justify-content: center;
  //    margin-left: 10px;
  //    border-radius: 6px;
  //    padding: 0px 9px;
  //    width: 62px;
  //    height: 24px;
  //    background: rgba(255, 255, 255, 0.3);
  //    font-family: 'JetBrainsMono-ExtraLight', sans-serif;
  //    font-weight: 200;
  //    font-size: 17px;
  //    text-transform: lowercase;
  //    color: #000;
  //
  //    @media (max-width: 1284px) {
  //      font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  //    }
  //  }
  //}

  &__window-box {
    grid-area: window-box;
    max-width: 808px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(140px);
    background: #000;
    position: relative;

    @media (max-width: 1024px) {
      max-width: 100%;
      order: 5;
      margin-top: 0;
    }

    @media (max-width: 424px) {
      margin-top: -10px;
      height: 306px;
    }

    &-text {
      padding: 0;
      margin: 0;
      font-family: 'JetBrainsMono-ExtraLight', sans-serif;
      font-weight: 200;
      font-size: 17px;
      text-transform: lowercase;
      color: rgba(255, 255, 255, 0.8);

      @media (max-width: 1284px) {
        font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
      }
    }

    &-modal {
      border-radius: 10px;
      padding: 17px 20px;
      max-width: 756px;
      width: 95%;
      backdrop-filter: blur(140px);
      background: var(--color-3);
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 424px) {
        bottom: 0;
        max-width: 425px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-close-btn {
        margin-left: auto;
        width: 17px;
        height: 17px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      &-text {
        display: inline-flex;
        padding: 0;
        margin: 0;
        font-family: 'JetBrainsMono-ExtraLight', sans-serif;
        font-weight: 200;
        font-size: 17px;
        color: #000;

        @media (max-width: 1284px) {
          font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
        }
      }

      &_error {
        display: none;
        background-color: var(--color-3);
      }
    }
  }
}