
.redactor-coda {
  width: 100%;
  background-color: var(--page-bg);
  position: sticky;
  z-index: 40;
  top: 20px;
  left: 0;
  margin-bottom: 100vh;
  padding: 30px 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @media (max-width: 1024px) {
    height: auto;
    padding-top: 0;
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    max-width: 1284px;

    @media (max-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
      height: auto;
      margin-bottom: 0;
    }
  }

  &-bg {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 310px;
    grid-template-columns: 1fr 310px;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
    grid-template-areas:
   'exercise exercise'
  'exercise-desc exercise-desc'
   'window-box images-box'
  'window-box images-box';
    gap: 20px 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 60px 84px 60px;
    //background: url("../images/redactor_bg.svg") no-repeat top right/cover;

    @media (max-width: 1024px) {
      background: var(--color-4) !important;
    }

    @media (max-width: 768px) {
      background: var(--color-4);
      padding: 0;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 57px 15px;
    }
  }

  &__exercise {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: exercise;
    padding: 0;
    margin: 0;
    font-family: 'JetBrainsMono-Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);

    @media (max-width: 1284px) {
      font-size: clamp(1.0625rem, 0.9894rem + 0.3247vw, 1.25rem);
    }

    @media (max-width: 1024px) {
      font-family: JetBrainsMono-ExtraLight, sans-serif;
      font-weight: 200;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
  }

  &__exercise-desc {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    width: 100%;
    height: 150px;
    overflow-y: auto;
    grid-area: exercise-desc;
    padding: 10px 20px 10px;
    margin: 0;
    font-family: 'JetBrainsMono-ExtraLight', sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    background: #252322;
    line-height: 1.29412;

    @media (max-width: 1284px) {
      font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
    }

    @media (max-width: 1024px) {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }

    @media (max-width: 424px) {
      margin-top: -10px;
      height: 280px;
    }
  }

  &__images-box {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: images-box;
    width: 310px;
    height: 300px;

    @media (max-width: 768px) {
      margin-right: auto;
      margin-left: auto;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5;
      //max-width: 450px;
      width: 100%;
      //height: 450px;
      height: 517px;
    }

    @media (max-width: 500px) {
      max-width: 450px;
      width: 100%;
      height: 450px;
    }

    @media (max-width: 424px) {
      height: 300px;
    }

    .redactor-coda-video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__window-box {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: window-box;
    max-width: 808px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(140px);
    backdrop-filter: blur(140px);
    background: #000;
    position: relative;

    @media (max-width: 1024px) {
      max-width: 100%;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
      margin-top: 0;
    }

    @media (max-width: 424px) {
      height: 306px;
    }

    &-text {
      padding: 0;
      margin: 0;
      font-family: 'JetBrainsMono-ExtraLight', sans-serif;
      font-weight: 200;
      font-size: 17px;
      text-transform: lowercase;
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.29412;

      @media (max-width: 1284px) {
        font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
      }

      @media (max-width: 1284px) {
        font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
      }
    }

    &-modal {
      border-radius: 10px;
      padding: 17px 20px;
      max-width: 756px;
      width: 95%;
      -webkit-backdrop-filter: blur(140px);
      backdrop-filter: blur(140px);
      background: var(--color-3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 10px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);

      @media (max-width: 424px) {
        bottom: 0;
        max-width: 425px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &-close-btn {
        margin-left: auto;
        width: 17px;
        height: 17px;
        border: none;
        outline: none;
        background-color: transparent;
      }

      &-text {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        margin: 0;
        font-family: 'JetBrainsMono-ExtraLight', sans-serif;
        font-weight: 200;
        font-size: 17px;
        color: #000;

        @media (max-width: 1284px) {
          font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
        }
      }

      &_error {
        display: none;
        background-color: var(--color-3);
      }
    }
  }
}