.fl-cont {
  display: flex;
  align-items: center;
  max-width: 1224px;
  width: 100%;
}

.double-slider {
  display: flex;
  column-gap: 25px;
  max-width: 1224px;
  width: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  //background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 400px;
  max-width: 1014px;
  width: 100%;
  display: flex;

  .swiper-slide {
    display: flex;
    column-gap: 25px;
    background-color: transparent;

    .mySwiper2__images-box {
      max-width: 597px;
      width: 100%;
      height: 100%;
      //border: 1px solid red;
      flex-shrink: 0;
    }

    .mySwiper2__text-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .mySwiper2__text-title-wrapper {
        max-width: 391px;
        min-height: 60px;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 29px;

        svg {
          width: 100%;
          height: 100%;
          position: absolute;
          pointer-events: none;
        }

        .mySwiper2__text-title {
          font-weight: 500;
          font-size: 17px;
          line-height: 1.29412;
          color: var(--color-3);
          text-shadow: 0 0 6px var(--color-3);
          opacity: 0.8;
          padding-left: 14px;
          padding-right: 16px;

          &-numb {
            display: inline-flex;
            font-family: 'JetBrainsMono-Bold', sans-serif;
            font-weight: 700;
            font-size: 17px;
            text-transform: lowercase;
            color: var(--color-3);
            opacity: 0.8;
            border: 2.65px solid var(--color-3);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 56px;
            margin-right: 16px;
          }
        }
      }

      .mySwiper2__text-subtitle {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        font-family: 'JetBrainsMono-Bold', sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: lowercase;
        color: var(--text-color);
        opacity: 0.8;

        @media (max-width: 1284px) {
          font-size: clamp(1.125rem, 1.1494rem + -0.1082vw, 1.0625rem);
        }
      }

      .mySwiper2__text-desc {
        width: 100%;
        text-align: left;
        font-family: 'JetBrainsMono-ExtraLight', sans-serif;
        font-weight: 200;
        font-size: 17px;
        line-height: 1.29412;
        color: #bababa;


      }
    }
  }
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding: 0;
  margin: 0;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  top: 119%;
  //z-index: -1;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--color-4);
    border-radius: 0;
    margin-top: 0;

    &-active {
      background-color: var(--color-3);
    }
  }
}

.mySwiper {
  position: relative;
  z-index: 40000;
  width: 186px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px 25px 10px 10px;
  flex-shrink: 0;
  background: url("../images/colonka_sl.png") top right 15px/171px 400px no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 21px;
    width: 135px;
    height: 1px;
    background: var(--color-1);
    z-index: 9;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 147px;
    height: 2px;
    background: var(--color-1);
    z-index: 9;
  }
}

.mySwiper .swiper-slide {
  width: 129px;
  padding: 4px 10px 4px 19px;
  height: 81px !important;
  background-color: var(--color-4);
  margin-left: auto;
  border: 1px solid var(--color-1);
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid var(--color-3);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide img {
  filter: grayscale(50);
}

.red-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-1);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    top: -1px;
    bottom: -1px;
    left: -12px;
    background: url("../images/slide_after_red.svg") no-repeat top center/cover;
  }
}

.mySwiper .swiper-slide-thumb-active img {
  filter: grayscale(0);
}

.mySwiper .swiper-slide-thumb-active .red-wrapper {
  border: 1px solid var(--color-3);
  filter: grayscale(0);

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    top: -1px;
    bottom: -1px;
    left: -12px;
    background: url("../images/slide_after_blue.svg") no-repeat top center/cover;
  }
}

.swiper-scrollbar.swiper-scrollbar-vertical {
  top: 10px;
  right: 0;
  z-index: 50;
  background-color: var(--color-4);
}

.swiper-scrollbar-drag {
  background-color: #007aff;
  opacity: 1;
  z-index: 200;
}