@charset "UTF-8";
/* Подключение шрифта */
@font-face {
  font-family: "JetBrainsMono-ExtraLight";
  src: url("../fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono-Light";
  src: url("../fonts/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrainsMono-ExtraBold";
  src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AKONY";
  src: url("../fonts/AKONY.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText-Regular";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GolosText-Bold";
  src: url("../fonts/GolosText-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --text-color: #ffffff;
  --page-bg: #101010;
  --color-1: #e53a24;
  --color-2: #fefefe;
  --color-3: #1fb6ea;
  --color-4: #2b2a29;
  --color-5: #eff338;
  --color-6: #956fa7;
  --font-family-lig: "JetBrainsMono-Light", sans-serif;
  --font-family-med: "JetBrainsMono-Medium", sans-serif;
  --font-family-bold: "JetBrainsMono-Bold", sans-serif;
  --font-family-exbold: "JetBrainsMono-ExtraBold", sans-serif;
  --second-family: "AKONY", sans-serif;
  --third-family-reg: "GolosText-Regular", sans-serif;
  --third-family-bold: "Golos Text", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--page-bg);
  height: 100vh;
  font-family: JetBrainsMono-Regular, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}

p,
span {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1162px;
  width: 100%;
  padding: 0 11px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1 {
  font-weight: 700;
  font-size: clamp(1.4375rem, 0.7758rem + 2.9575vw, 3.4375rem);
  line-height: 1.11226;
  text-transform: lowercase;
  color: var(--text-color);
}

h2 {
  font-weight: 700;
  font-size: clamp(2.125rem, 1.7941rem + 1.4787vw, 3.125rem);
  color: var(--text-color);
  position: relative;
}

.btn {
  clip-path: polygon(0% 0%, 89.2% 0%, 100% 35%, 100% 100%, 11.2% 100%, 0% 65%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: var(--text-color);
  line-height: 80px;
  height: 80px;
  padding: 0;
  white-space: nowrap;
  border: none;
  outline: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s linear;
}

.none {
  display: none;
}

.nav {
  display: flex;
}
.nav .list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav .list .item .link {
  position: relative;
  font-family: "JetBrainsMono-ExtraLight", sans-serif;
  font-weight: 200;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear all;
}
.nav .list .item .link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: 0.2s linear all;
}
.nav .list .item .link:hover {
  color: var(--color-3);
}
.nav .list .item .link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-3);
  transition: 0.2s linear all;
}

.header {
  width: 100%;
  padding: 41px 0 28px;
}
@media (max-width: 1024px) {
  .header {
    padding: 30px 0 30px;
  }
}
.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 275px;
  width: 100%;
  height: 40px;
  margin-right: auto;
}
@media (max-width: 467px) {
  .header__logo {
    max-width: 165px;
    height: 24px;
  }
}
.header__menu-mobile {
  display: none;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__menu-mobile {
    display: flex;
  }
}
.header__menu-mobile-btn_open {
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__menu-mobile-btn_close {
  display: none;
  opacity: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.header__menu-mobile-btn_close svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__menu-mobile-btn_close-visible {
  display: block;
  opacity: 1;
}
.header__nav {
  margin-left: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.menu-mobile-box {
  position: fixed;
  display: flex;
  left: -100%;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding: 46px 27px 60px;
  transition: 0.3s linear;
  row-gap: 60px;
  background-color: #111111;
  z-index: 555;
}
.menu-mobile-box__nav {
  width: 100%;
}
.menu-mobile-box__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-mobile-box__link {
  font-size: 20px;
  position: relative;
  color: var(--color-3);
}
.menu-mobile-box__social {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
.menu-mobile-box__social-links {
  display: flex;
  column-gap: 20px;
}
.menu-mobile-box__social-link {
  width: 40px;
  height: 40px;
}
.menu-mobile-box__social-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
.menu-mobile-box__button {
  width: 100%;
}
.menu-mobile-box__button-btn {
  max-width: 303px;
  width: 100%;
  align-self: center;
  justify-content: center;
  background-color: #E53A24;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #2b2a29;
  transition: 0.2s linear;
}
.menu-mobile-box-visible {
  left: 0;
}

.list.menu-mobile-box__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
}

.menu-mobile-box.menu-mobile-box-visible .link.menu-mobile-box__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  right: 0;
  background-color: var(--color-3);
}

.hero {
  padding-top: 80px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero::after {
  position: absolute;
  content: "";
  width: 1163px;
  height: 740px;
  top: 190px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  background: url("../images/hero_container_bg.svg") no-repeat;
}
@media (max-width: 1024px) {
  .hero::after {
    content: none;
  }
}
.hero__container {
  max-width: 1284px;
  padding-left: 0;
  position: relative;
}
.hero__container::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: -350px;
  width: 600px;
  height: 600px;
  z-index: 5;
  background: url("../images/orange.png") no-repeat bottom left/cover;
}
@media (max-width: 1024px) {
  .hero__container::before {
    position: absolute;
    bottom: 194px;
    left: auto;
    right: -400px;
    z-index: -25;
  }
}
.hero__container::after {
  position: absolute;
  width: 600px;
  height: 600px;
  transform: rotate(90deg);
  z-index: 5;
  background: url("../images/goluboy.png") no-repeat center/cover;
}
@media (max-width: 1024px) {
  .hero__container::after {
    content: "";
    position: absolute;
    bottom: 194px;
    left: -400px;
    z-index: 0;
  }
}
.hero__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .hero__header {
    flex-direction: column;
  }
}
.hero__header-img-box {
  width: 458px;
  height: 530px;
  position: relative;
  margin-left: -60px;
}
@media (max-width: 1024px) {
  .hero__header-img-box {
    margin-left: 0;
    align-self: center;
  }
}
@media (max-width: 800px) {
  .hero__header-img-box {
    max-width: 458px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .hero__header-img-box {
    width: 350px;
    height: 430px;
  }
}
.hero picture {
  display: block;
  width: 458px;
  height: 530px;
}
@media (max-width: 800px) {
  .hero picture {
    max-width: 458px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .hero picture {
    width: 350px;
    height: 430px;
  }
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__header-text-box {
  margin-top: 74px;
  margin-left: auto;
  max-width: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .hero__header-text-box {
    margin: 0;
    max-width: 100%;
    padding: 30px 0 30px 16px;
  }
}
.hero__header-text-box-title {
  font-family: "AKONY", sans-serif;
  font-weight: 700;
  font-size: clamp(1.4375rem, 0.9018rem + 2.381vw, 2.8125rem);
  line-height: 1.11226;
  text-transform: lowercase;
  color: #fff;
  transition: 0.3s ease-in-out;
  margin-bottom: 24px;
}
.hero__header-text-box-title .gradient-text {
  font-size: clamp(1.4375rem, 0.9018rem + 2.381vw, 2.8125rem);
  font-weight: 700;
  background: linear-gradient(90deg, #1fb6ea 59.95%, #e53a24 80.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-in-out;
}
.hero__header-text-box-title:hover {
  transition: 0.3s ease-in-out;
}
.hero__header-text-box-title:hover .gradient-text {
  background: linear-gradient(270deg, #1fb6ea 59.95%, #e53a24 80.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease-in-out;
}
.hero__header-text-box-description {
  font-family: "JetBrainsMono-ExtraLight", sans-serif;
  font-weight: 200;
  font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  color: #fff;
  max-width: 450px;
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media screen and (max-width: 1024px) {
  .hero__header-text-box-description {
    margin: 0;
    max-width: 100%;
  }
}
.hero__container_body {
  height: 412px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero__container_body {
    flex-direction: column;
    padding: 120px 0 106px;
    height: auto;
    row-gap: 60px;
  }
}
.hero__container_body .vertical-line {
  position: absolute;
  width: 10px;
  height: 170px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .hero__container_body .vertical-line {
    display: none;
  }
}
.hero__container_body .vertical-line::before {
  position: absolute;
  content: "";
  top: 32px;
  left: -200px;
  transform: translateX(-50%);
  width: 10px;
  height: 140px;
  z-index: 10;
  background: url("../images/line_circle1.svg") center/contain no-repeat;
}
.hero__container_body .vertical-line::after {
  position: absolute;
  content: "";
  top: 30px;
  left: -180px;
  transform: translateX(-50%);
  width: 10px;
  height: 160px;
  z-index: 10;
  background: url("../images/line_circle2.svg") center/contain no-repeat;
}
.hero__body {
  width: 100%;
  height: 412px;
  display: flex;
  background-color: #040404;
  z-index: 10;
  position: relative;
  margin-top: -70px;
  align-items: center;
  justify-content: space-between;
  mask-image: url("../images/111.png");
  mask-repeat: no-repeat;
  mask-position: 49.1% 0;
}
@media screen and (max-width: 1024px) {
  .hero__body {
    margin-top: 0;
    mask: none;
    background-color: transparent;
    height: auto;
  }
  .hero__body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    z-index: 0;
    background: url("../images/orange.png") center/contain no-repeat;
  }
}
.hero__body .vertical-line__two {
  width: 1px;
  height: 120px;
}
.hero__body .vertical-line__two::after {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 130px;
  z-index: 10;
  background: url("../images/line_circle1.svg") center/contain no-repeat;
}
@media (max-width: 424px) {
  .hero__body .vertical-line__two::after {
    left: -70px;
    height: 110px;
  }
}
.hero__body .vertical-line__two::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 20px;
  transform: translateX(-50%);
  width: 10px;
  height: 140px;
  z-index: 10;
  background: url("../images/line_circle2.svg") center/contain no-repeat;
}
@media (max-width: 424px) {
  .hero__body .vertical-line__two::before {
    left: -55px;
    height: 120px;
  }
}
@media (max-width: 1024px) {
  .hero__body .vertical-line__two {
    display: block;
    position: absolute;
    top: 0;
    left: 350px;
  }
}
.hero__body-left {
  display: flex;
  max-width: 412px;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 333;
}
@media (max-width: 1024px) {
  .hero__body-left {
    max-width: 90%;
    margin-left: auto;
    background-color: #040404;
    padding: 34px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 90%);
  }
}
@media (max-width: 424px) {
  .hero__body-left {
    max-width: 97%;
    margin-left: auto;
    background-color: #040404;
    padding: 34px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 90%);
  }
}
.hero__body-left-title {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero__body-left-title .glitch {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono-ExtraBold", sans-serif;
  font-weight: 800;
  font-size: 171px;
  line-height: 0.77;
  text-transform: lowercase;
  color: var(--color-1);
}
@media (max-width: 1284px) {
  .hero__body-left-title .glitch {
    font-size: clamp(8rem, 6.9529rem + 4.6537vw, 10.6875rem);
  }
}
.hero__body-left-title .glitch::before, .hero__body-left-title .glitch::after {
  content: "90%";
  color: var(--color-1);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.hero__body-left-title .glitch::before {
  left: 3px;
  text-shadow: -3px 0 #e53a24;
  animation: glitch-before 3s linear 0s infinite alternate;
}
.hero__body-left-title .glitch::after {
  left: -3px;
  text-shadow: -3px 0 #1fb6ea;
  animation: glitch-after 3s linear 0s infinite alternate;
}
@keyframes glitch-before {
  0% {
    clip: rect(74px, 350px, 99px, 30px);
  }
  5% {
    clip: rect(51px, 350px, 92px, 30px);
  }
  10% {
    clip: rect(136px, 350px, 65px, 30px);
  }
  15% {
    clip: rect(62px, 350px, 78px, 30px);
  }
  20% {
    clip: rect(79px, 350px, 142px, 30px);
  }
  25% {
    clip: rect(16px, 350px, 100px, 30px);
  }
  30% {
    clip: rect(143px, 350px, 126px, 30px);
  }
  35% {
    clip: rect(86px, 350px, 80px, 30px);
  }
  40% {
    clip: rect(140px, 350px, 132px, 30px);
  }
  45% {
    clip: rect(111px, 350px, 120px, 30px);
  }
  50% {
    clip: rect(80px, 350px, 56px, 30px);
  }
  55% {
    clip: rect(65px, 350px, 126px, 30px);
  }
  60% {
    clip: rect(102px, 350px, 125px, 30px);
  }
  65% {
    clip: rect(125px, 350px, 14px, 30px);
  }
  70% {
    clip: rect(97px, 350px, 109px, 30px);
  }
  75% {
    clip: rect(94px, 350px, 23px, 30px);
  }
  80% {
    clip: rect(133px, 350px, 112px, 30px);
  }
  85% {
    clip: rect(135px, 350px, 147px, 30px);
  }
  90% {
    clip: rect(150px, 350px, 17px, 30px);
  }
  95% {
    clip: rect(52px, 350px, 116px, 30px);
  }
  100% {
    clip: rect(28px, 350px, 4px, 30px);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(23px, 350px, 98px, 30px);
  }
  5% {
    clip: rect(15px, 350px, 116px, 30px);
  }
  10% {
    clip: rect(64px, 350px, 10px, 30px);
  }
  15% {
    clip: rect(81px, 350px, 37px, 30px);
  }
  20% {
    clip: rect(10px, 350px, 13px, 30px);
  }
  25% {
    clip: rect(80px, 350px, 49px, 30px);
  }
  30% {
    clip: rect(56px, 350px, 79px, 30px);
  }
  35% {
    clip: rect(18px, 350px, 127px, 30px);
  }
  40% {
    clip: rect(70px, 350px, 15px, 30px);
  }
  45% {
    clip: rect(41px, 350px, 67px, 30px);
  }
  50% {
    clip: rect(106px, 350px, 17px, 30px);
  }
  55% {
    clip: rect(94px, 350px, 106px, 30px);
  }
  60% {
    clip: rect(26px, 350px, 113px, 30px);
  }
  65% {
    clip: rect(129px, 350px, 41px, 30px);
  }
  70% {
    clip: rect(85px, 350px, 56px, 30px);
  }
  75% {
    clip: rect(132px, 350px, 57px, 30px);
  }
  80% {
    clip: rect(65px, 350px, 77px, 30px);
  }
  85% {
    clip: rect(100px, 350px, 84px, 30px);
  }
  90% {
    clip: rect(32px, 350px, 140px, 30px);
  }
  95% {
    clip: rect(118px, 350px, 81px, 30px);
  }
  100% {
    clip: rect(87px, 350px, 65px, 30px);
  }
}
.hero__body-left-subtitle {
  max-width: 362px;
  font-family: JetBrainsMono-ExtraLight, sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: #fff;
}
@media (max-width: 1284px) {
  .hero__body-left-subtitle {
    font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  }
}
.hero__body-right {
  padding: 110px 43px 28px;
  margin: 0;
  display: flex;
  max-width: 580px;
  width: 100%;
  height: 290px;
  align-items: flex-end;
  background-color: #111;
  mask-image: url("../images/kartoteka.svg");
  mask-size: cover;
  mask-position: center top;
  mask-repeat: no-repeat;
  position: relative;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .hero__body-right {
    padding: 18px;
    padding-bottom: 40px;
    padding-right: 30px;
    z-index: 400;
    max-width: 95%;
    background-color: #040404;
    margin-right: auto;
    mask: none;
    justify-content: flex-end;
    clip-path: polygon(0% 10%, 70% 10%, 75% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .hero__body-right {
    clip-path: polygon(0% 10%, 55% 10%, 60% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 1024px) and (max-width: 425px) {
  .hero__body-right {
    max-width: 97%;
    height: 270px;
    clip-path: polygon(0% 10%, 58% 10%, 68% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.hero__body-right::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 10px;
  bottom: 10px;
  z-index: -300;
  background-color: var(--page-bg);
  clip-path: polygon(0% 10%, 75% 10%, 80% 0%, 100% 0%, 100% 100%, 0% 100%);
}
@media (max-width: 768px) {
  .hero__body-right::before {
    clip-path: polygon(0% 10%, 60% 10%, 65% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media (max-width: 425px) {
  .hero__body-right::before {
    bottom: 13px;
    top: 13px;
    clip-path: polygon(0% 10%, 60% 10%, 70% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.hero__body-right::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 536px;
  height: 261px;
  background: url("../images/kartoteka_line.svg") center center/cover no-repeat;
  z-index: 77;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .hero__body-right::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 20px;
    bottom: 20px;
    width: 347px;
    height: 245px;
    background: url("../images/kartoteka_mob.svg") center right/cover no-repeat;
    z-index: 77;
    pointer-events: none;
  }
}
@media (max-width: 1024px) and (max-width: 425px) {
  .hero__body-right::after {
    height: 226px;
    width: 310px;
  }
}
.hero__body-right-number {
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-weight: 700;
  font-size: 175px;
  line-height: 0.8;
  text-transform: lowercase;
  color: var(--color-3);
}
@media (max-width: 1284px) {
  .hero__body-right-number {
    font-size: clamp(10.6875rem, 10.5901rem + 0.4329vw, 10.9375rem);
  }
}
.hero__body-right-text {
  font-family: "JetBrainsMono-ExtraLight", sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: var(--text-color);
}
@media (max-width: 1284px) {
  .hero__body-right-text {
    font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  }
}
@media (max-width: 1024px) {
  .hero__body-right-text {
    max-width: 35%;
  }
}
@media (max-width: 768px) {
  .hero__body-right-text {
    max-width: 50%;
  }
}

.circle-blue {
  width: 640px;
  height: auto;
  position: absolute;
  z-index: 0;
  left: 52%;
  transform: translateX(-50%) rotate(90deg);
  top: 29%;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s linear;
}
@media (max-width: 1024px) {
  .circle-blue {
    left: 100%;
    transform: translateX(-50%) rotate(90deg);
    top: 60%;
  }
}

.circle-lightblue {
  width: 640px;
  height: auto;
  position: absolute;
  z-index: 0;
  left: 52%;
  transform: translateX(-50%) rotate(90deg);
  top: 29%;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s linear;
}
@media (max-width: 1024px) {
  .circle-lightblue {
    left: 100%;
    transform: translateX(-50%) rotate(90deg);
    top: 60%;
  }
}

.circle-active {
  opacity: 1;
}

.about-us {
  width: 100%;
  background: url("../images/01101.svg") center bottom/200% 30% no-repeat;
  height: auto;
  position: relative;
  z-index: 20;
  padding-top: 130px;
  padding-bottom: 100px;
  margin-bottom: 130px;
}
@media (max-width: 1024px) {
  .about-us {
    margin-bottom: 0;
    padding-bottom: 130px;
  }
}
.about-us__container {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .about-us__container {
    flex-direction: column;
  }
}
.about-us-left {
  width: 494px; /* 38px * 13 */
  height: 494px; /* 38px * 13 */
  display: grid;
  grid-template-rows: repeat(13, 38px);
  grid-template-columns: repeat(13, 38px);
  background: linear-gradient(90deg, rgba(229, 58, 36, 0.35) 1px, transparent 1px), linear-gradient(rgba(229, 58, 36, 0.35) 1px, transparent 1px); /* горизонтальные линии */
  background-size: 38px 38px; /* размер ячеек сетки */
  transform: translateZ(0); /* для точного рендеринга */
  background-position: 2px -21px;
  border: none;
  padding: 0;
}
@media (max-width: 1024px) {
  .about-us-left {
    order: 2;
    margin: 0 auto 35px;
  }
}
@media (max-width: 768px) {
  .about-us-left {
    width: 326px;
    height: 290px;
    grid-template-rows: repeat(13, 25px);
    grid-template-columns: repeat(13, 25px);
    background: linear-gradient(90deg, rgba(229, 58, 36, 0.35) 1px, transparent 1px), linear-gradient(rgba(229, 58, 36, 0.35) 1px, transparent 1px); /* горизонтальные линии */
    background-size: 25px 25px; /* размер ячеек сетки */
    transform: translateZ(0); /* для точного рендеринга */
    background-position: 0 -16px;
  }
}
.about-us-left__text {
  margin: 0;
  padding: 0;
  max-width: 416px;
  padding-left: 41px;
  padding-top: 65px;
  padding-right: 22px;
  grid-column: 1/13;
  grid-row: 1/13;
}
@media (max-width: 768px) {
  .about-us-left__text {
    padding: 42px 27px;
    max-width: 325px;
  }
}
.about-us-left__text p {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono-ExtraLight", sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: #fff;
}
@media (max-width: 1284px) {
  .about-us-left__text p {
    font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  }
}
@media (max-width: 768px) {
  .about-us-left__text p {
    display: flex;
  }
}
.about-us-right {
  display: flex;
  flex-direction: column;
  max-width: 507px;
  width: 100%;
  padding-top: 53px;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .about-us-right {
    display: contents;
  }
}
.about-us-right__title {
  font-family: "AKONY", sans-serif;
  font-weight: 700;
  font-size: clamp(2.125rem, 1.7354rem + 1.7316vw, 3.125rem);
  text-transform: lowercase;
  color: var(--text-color);
  margin-bottom: 178px;
}
@media (max-width: 1024px) {
  .about-us-right__title {
    order: 1;
    text-align: end;
    margin-bottom: 50px;
  }
}
.about-us-right__title .accent {
  color: var(--color-3);
}
.about-us-right__text {
  font-family: "JetBrainsMono-ExtraLight", sans-serif;
  font-weight: 200;
  font-size: 17px;
  color: #fff;
  margin-bottom: 300px;
}
@media (max-width: 1284px) {
  .about-us-right__text {
    font-size: clamp(1rem, 0.9756rem + 0.1082vw, 1.0625rem);
  }
}
@media (max-width: 1024px) {
  .about-us-right__text {
    order: 3;
    padding: 0 42px;
    margin-bottom: 177px;
  }
}

@keyframes moveRunner {
  0% {
    opacity: 1;
    transform: translateY(304px);
  }
  3% {
    opacity: 1;
    transform: translateY(304px);
  }
  48% {
    opacity: 1;
    transform: translateY(494px);
  }
  53% {
    opacity: 1;
    transform: translateY(494px);
  }
  97% {
    opacity: 1;
    transform: translateY(304px);
  }
  100% {
    opacity: 1;
    transform: translateY(304px);
  }
}
@media (max-width: 768px) {
  @keyframes moveRunner {
    0% {
      opacity: 1;
      transform: translateY(235px);
    }
    3% {
      opacity: 1;
      transform: translateY(235px);
    }
    48% {
      opacity: 1;
      transform: translateY(290px);
    }
    53% {
      opacity: 1;
      transform: translateY(290px);
    }
    97% {
      opacity: 1;
      transform: translateY(235px);
    }
    100% {
      opacity: 1;
      transform: translateY(235px);
    }
  }
}
.runner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px; /* Высота одной ячейки */
  background: var(--color-1); /* Цвет полоски */
  transform: translateY(-100%); /* Начальное положение */
  animation: moveRunner 6s linear infinite;
  transform: translateZ(0);
}
@media (max-width: 768px) {
  .runner {
    width: 102%;
    left: -4px;
  }
}
.runner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 3px;
  background-color: var(--color-1);
}

.jump-page {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg);
  position: sticky;
  top: 0;
  left: 0;
}
.jump-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jump-page__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.jump-page__text-title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "AKONY", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  text-transform: lowercase;
  color: var(--text-color);
}
@media (max-width: 1284px) {
  .jump-page__text-title {
    font-size: clamp(1.875rem, 1.388rem + 2.1645vw, 3.125rem);
  }
}
.jump-page__text-subtitle {
  color: var(--text-color);
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  text-align: center;
}
@media (max-width: 1284px) {
  .jump-page__text-subtitle {
    font-size: clamp(1.1875rem, 1.0657rem + 0.5411vw, 1.5rem);
  }
}
.jump-page__text-link {
  width: 50px;
  height: 150px;
  mask-image: url("../images/arr_mask.png");
  mask-repeat: no-repeat;
  mask-position: 49.1% 0;
  background: linear-gradient(360deg, #e53a24, #1fb6ea 25%, #e53a24 50%, #1fb6ea 75%, #e53a24);
  background-size: 100% 400%;
  animation: gradientFlow 8s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 400%;
  }
  100% {
    background-position: 0% 0%; /* Двигаем фон вниз на 400% */
  }
}
.jump-page-two {
  z-index: 40;
}

.redactor-coda {
  width: 100%;
  background-color: var(--page-bg);
  position: relative;
  z-index: 40;
}
.redactor-coda__container {
  max-width: 1255px;
  display: grid;
  grid-template-columns: 397px 1fr;
  grid-template-areas: "exercise exercise" "exercise-desc exercise-desc" "images-box clue" "images-box window-box";
  gap: 20px 24px;
}
.redactor-coda__exercise {
  grid-area: exercise;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
@media (max-width: 1284px) {
  .redactor-coda__exercise {
    font-size: clamp(1.1875rem, 1.0657rem + 0.5411vw, 1.5rem);
  }
}
.redactor-coda__exercise-desc {
  width: 100%;
  grid-area: exercise-desc;
  padding: 10px 20px 68px;
  margin: 0;
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(140px);
  background: rgba(208, 208, 208, 0.2);
}
@media (max-width: 1284px) {
  .redactor-coda__exercise-desc {
    font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
  }
}
.redactor-coda__images-box {
  grid-area: images-box;
  width: 393px;
  height: 520px;
}
.redactor-coda__clue {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  grid-area: clue;
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  color: var(--text-color);
  backdrop-filter: blur(140px);
  background: var(--color-4);
  height: auto;
}
@media (max-width: 1284px) {
  .redactor-coda__clue {
    font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
  }
}
.redactor-coda__clue-elem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 6px;
  padding: 0px 9px;
  width: 62px;
  height: 24px;
  background: rgba(255, 255, 255, 0.3);
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  color: #000;
}
.redactor-coda__window-box {
  grid-area: window-box;
  max-width: 808px;
  width: 100%;
  height: 450px;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(140px);
  background: #000;
}
.redactor-coda__window-box-text {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1284px) {
  .redactor-coda__window-box-text {
    font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
  }
}
.redactor-coda__window-box-modal {
  border-radius: 10px;
  padding: 17px 20px;
  max-width: 756px;
  width: 100%;
  height: 155px;
  backdrop-filter: blur(140px);
  background: var(--color-3);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.redactor-coda__window-box-modal-close-btn {
  margin-left: auto;
  width: 17px;
  height: 17px;
  border: none;
  outline: none;
  background-color: transparent;
}
.redactor-coda__window-box-modal-text {
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  color: #000;
}
@media (max-width: 1284px) {
  .redactor-coda__window-box-modal-text {
    font-size: clamp(1rem, 0.9513rem + 0.2165vw, 1.125rem);
  }
}

.cards {
  position: relative;
  width: 100%;
  padding: 100px 0 350px;
  z-index: 50;
  height: 100%;
}
.cards__container {
  max-width: 1355px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.cards .card-item {
  padding-top: 0;
  padding-left: 26px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image-box desc" "training-program training-program";
  position: relative;
  top: 20px;
  left: 0;
}
.cards .card-item-image-box {
  top: 24px;
  margin-top: 60px;
  position: relative;
  margin-left: 26px;
  z-index: 30;
  grid-area: image-box;
  max-width: 496px;
  width: 100%;
  height: 646px;
  padding: 10px 10px 58px 10px;
}
.cards .card-item-image-box-img {
  width: 476px;
  height: 576px;
  margin-bottom: 10px;
}
.cards .card-item-image-box-text {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 68px 0 29px;
}
.cards .card-item-image-box-text::after {
  position: absolute;
  content: "";
  top: -50px;
  left: 0;
  width: 276px;
  height: 184px;
  border-radius: 100%;
  filter: blur(30px);
  pointer-events: none;
  z-index: 1;
}
.cards .card-item-image-box-text-circle-box {
  position: relative;
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .cards .card-item-image-box-text-circle-box {
    max-width: 67px;
  }
}
.cards .card-item-image-box-text-circle-box span {
  display: inline-flex;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #2B2A29;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .cards .card-item-image-box-text-circle-box span {
    width: 10px;
    height: 10px;
  }
}
.cards .card-item-image-box-text-circle-box .circle-active {
  background-color: var(--color-4);
  opacity: 1;
}
.cards .card-item-image-box-text-name {
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--color-4);
}
@media (max-width: 1284px) {
  .cards .card-item-image-box-text-name {
    font-size: clamp(0.9375rem, 0.7183rem + 0.974vw, 1.5rem);
  }
}
.cards .card-item-text-box {
  grid-area: desc;
  max-width: 506px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
  padding-top: 160px;
}
.cards .card-item-text-box__title {
  font-family: "AKONY", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-transform: lowercase;
  color: var(--text-color);
}
@media (max-width: 1284px) {
  .cards .card-item-text-box__title {
    font-size: clamp(3rem, 2.6104rem + 1.7316vw, 4rem);
  }
}
.cards .card-item-text-box__subtitle {
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--text-color);
  margin-bottom: 44px;
}
.cards .card-item-text-box__description {
  font-family: "JetBrainsMono-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #bababa;
  margin-bottom: 59px;
}
.cards .card-item-text-box__btn-oran {
  max-width: 303px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--color-1);
  color: var(--color-4);
  position: relative;
  z-index: 50;
}
.cards .card-item-text-box__btn-oran:hover {
  background-color: var(--text-color);
  color: var(--page-bg);
}
.cards .card-item-text-box__btn-yel {
  max-width: 303px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--color-5);
  color: var(--color-4);
  position: relative;
  z-index: 50;
}
.cards .card-item-text-box__btn-yel:hover {
  background-color: var(--text-color);
  color: var(--page-bg);
}
.cards .card-item-text-box__btn-blue {
  max-width: 303px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--color-3);
  color: var(--color-4);
  position: relative;
  z-index: 50;
}
.cards .card-item-text-box__btn-blue:hover {
  background-color: var(--text-color);
  color: var(--page-bg);
}
.cards .card-item-text-box__btn-feol {
  max-width: 303px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  background-color: var(--color-6);
  color: var(--color-4);
  position: relative;
  z-index: 50;
}
.cards .card-item-text-box__btn-feol:hover {
  background-color: var(--text-color);
  color: var(--page-bg);
}
.cards .card-item-training-program-box {
  grid-area: training-program;
  width: 100%;
  padding: 0 70px 78px;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 324px));
  grid-template-areas: ". prog prog" "c01 c02 c03" "c04 c05 c06";
  justify-content: space-between;
  row-gap: 30px;
}
.cards .card-item-training-program-box .prog {
  grid-area: prog;
  text-align: right;
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--text-color);
  opacity: 0.8;
}
.cards .card-item-training-program-box-card01 {
  grid-area: c01;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card01 .card01-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card01 .card01-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card01 .card01-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card01 .card01-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card01 .card01-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card01 .card01-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card02 {
  grid-area: c02;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card02 .card02-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card02 .card02-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card02 .card02-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card02 .card02-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card02 .card02-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card02 .card02-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card03 {
  grid-area: c03;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card03 .card03-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card03 .card03-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card03 .card03-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card03 .card03-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card03 .card03-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card03 .card03-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card04 {
  grid-area: c04;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card04 .card04-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card04 .card04-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card04 .card04-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card04 .card04-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card04 .card04-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card04 .card04-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card05 {
  grid-area: c05;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card05 .card05-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card05 .card05-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card05 .card05-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card05 .card05-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card05 .card05-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card05 .card05-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card06 {
  grid-area: c06;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.cards .card-item-training-program-box-card06 .card06-span-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cards .card-item-training-program-box-card06 .card06-span-box span {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background: rgba(217, 217, 217, 0.1);
  margin: 0 2px;
}
.cards .card-item-training-program-box-card06 .card06-span-box .span-box-active__oran {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #E53A24;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card06 .card06-span-box .span-box-active__yelo {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #EFF338;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card06 .card06-span-box .span-box-active__blue {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #1FB6EA;
  margin: 0 2px;
}
.cards .card-item-training-program-box-card06 .card06-span-box .span-box-active__feol {
  display: inline-flex;
  width: 4px;
  height: 14px;
  background-color: #956FA7;
  margin: 0 2px;
}
.cards .card01 {
  background: url("../images/1.png") no-repeat top left/cover;
}
.cards .card01 .card-item-image-box {
  background: url("../images/bg_img_01.svg") no-repeat center center/cover;
}
.cards .card01 .card-item-image-box-text::after {
  pointer-events: none;
  background: url("../images/el_card_01.png") no-repeat center center/cover;
}
.cards .card02 {
  background: url("../images/2.png") no-repeat top left/cover;
}
.cards .card02 .card-item-image-box {
  background: url("../images/bg_img_02.svg") no-repeat center center/cover;
}
.cards .card02 .card-item-image-box-text::after {
  pointer-events: none;
  background: url("../images/el_card_02.png") no-repeat center center/cover;
}
.cards .card03 {
  background: url("../images/3.png") no-repeat top left/cover;
}
.cards .card03 .card-item-image-box {
  background: url("../images/bg_img_03.svg") no-repeat center center/cover;
}
.cards .card03 .card-item-image-box-text::after {
  pointer-events: none;
  background: url("../images/el_card_03.png") no-repeat center center/cover;
}
.cards .card04 {
  background: url("../images/4.png") no-repeat top left/cover;
}
.cards .card04 .card-item-image-box {
  background: url("../images/bg_img_04.svg") no-repeat center center/cover;
}
.cards .card04 .card-item-image-box-text::after {
  pointer-events: none;
  background: url("../images/el_card_04.png") no-repeat center center/cover;
}

.tabs-container {
  max-width: 800px;
  position: relative;
  font-family: Arial, sans-serif;
  z-index: 999999;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}

.tab-btn {
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
  font-family: "JetBrainsMono-Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--color-1);
  text-shadow: 0 0 8px 0 #fa1b1b;
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 1284px) {
  .tab-btn {
    font-size: clamp(0.9375rem, 0.8157rem + 0.5411vw, 1.25rem);
  }
}
.tab-btn:hover {
  color: var(--color-3);
  text-shadow: 0 0 5px 0 var(--color-3);
  opacity: 0.8;
}
.tab-btn-active {
  color: var(--color-3);
  text-shadow: 0 0 5px 0 var(--color-3);
  opacity: 0.8;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 2px solid #2196F3;
  border-radius: 0 5px 5px 5px;
}
.tab-content-active {
  display: block;
  animation: fade 0.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cases {
  width: 100%;
  position: sticky;
  z-index: 50;
}
.cases__logo {
  max-width: 360px;
  height: 53px;
}

.col {
  height: 590px;
  width: 220px;
  background: url("../images/colonka_sl.png") no-repeat center/cover;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: none;
}

.cases-slider-btns-box {
  max-width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cases-slider-btns-box .cases-slider-btn-next, .cases-slider-btns-box .cases-slider-btn-prev {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #641e39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-cont {
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.double-slider {
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 590px;
  width: 800px;
  /* z-index: 5 !important; */
}

.mySwiper {
  position: relative;
  margin-left: -60px;
  z-index: 40000;
  width: 25%;
  height: 590px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-scrollbar-drag {
  background-color: #007aff;
}

/*# sourceMappingURL=styles.css.map */
